= form_for post do |f|
  - if post.errors.any?
    #error_explanation
      %h2= "#{pluralize(post.errors.count, "error")} #{t('posts.error_exp')}:"
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', required: true
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control', required: true

  .actions
    = f.submit t('posts.save'), class: 'btn btn-md btn-primary'
